<div class="media">
    <div class="media-left">
        <a href="/index?author=<%= comment.author._id %>">
            <img style="width:50px;height:50px" class="media-object img-circle" src="/uploads/<%= comment.author.avatar %>" alt="...">
        </a>
    </div>
    <div class="media-body">
        <div class="media-heading clearfix">
            <div class="pull-left">
                <small class="name"><a href="/index?author=<%= comment.author._id %>"><%= comment.author.username %></a></small>
                <small class="time"><%= comment.commentTime.toLocaleString() %></small>
            </div>
            <!--判断当前账号是否和留言者是同一个人-->
            <% if (user && user._id.toString() === comment.author._id.toString()) { %>
                <small class="pull-right delete"><a href="/comment/delete/<%= comment._id %>">删除</a></small>
            <% } %>
            
            
        </div>
        <div class="text-justify comment-content">
            <span><%= comment.content %></span>
        </div>
    </div>
</div>
