<!-- 使用公共模块header -->
<%- include("./components/header") %>

    <div class="container">
        <div class="row">
            <div class="panel panel-default col-sm-4 col-sm-offset-4">
                <div class="panel-body">
                    <form action="/register" method="POST" enctype="multipart/form-data">
                        <div class="form-group text-center">
                            <div class="btn-group">
                                    <img src="/uploads/<%= user.avatar%>" class="img-responsive img-circle" style="width:78px;height:78px"></img>
                                    <input type="file" id="avatar" name="avatar">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Username">账号</label>
                            <input type="text" class="form-control" name="username" placeholder="Username" value="<%= user.username %>" readonly>
                        </div>
                        <div class="form-group">
                            <a href="/changePassword" style="text-decoration:none;font-weight:bold">修改密码</a>
                        </div>
                        <div class="radio">
                            <label class="radio-inline">
                                <input type="radio" name="sex" value="man" checked>男
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="sex" value="woman">女
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="conPass">个人简介</label>
                            <textarea class="form-control" name="portray" rows="3"><%= user.portray %></textarea>
                        </div>
                        <div class="btn-group btn-group-justified">
                            <div class="btn-group" role="group">
                                <button type="submit" class="btn btn-success">保存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

      <!-- 引用公共模块footer -->
    <%- include("./components/footer") %>
