<!-- 使用公共模块header -->
<%- include("./components/header") %>

<div class="container">
    <!-- 文章主体 -->
    <%- include("./components/article") %> 
    <!-- 留言区 -->
    <div class="panel panel-default col-sm-6 col-sm-offset-3">
        <div class="panel-heading">留言区</div>
        <div class="panel-body">
            <% comment.forEach(element => { %>
                <%- include("./components/comment",{comment:element}) %> 
            <% }) %>
            
        </div>
        <div class="panel-footer text-right">
            <form action="/comment/<%= post._id %>"  method="POST">
                <textarea class="form-control" name="content" rows="3" placeholder="Comments"></textarea>
                <button class="btn btn-success btn-sm" style="margin-top:5px">留言</button>
            </form>
        </div>
    </div>
    </div>
</div>
<!-- 引用公共模块footer -->
<%- include("./components/footer") %>